<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Suggested approach is to keep those secrets in the non-committed secrets.config next to app.config -->
  <appSettings file="..\..\secrets.config">
    <!-- See http://blog.davidebbo.com/2014/12/azure-service-principal.html to learn how to obtain these values -->
    <add key="AzureSubscription" value="[paste your subscription guid here]" />
    <add key="AzureTenantId" value="[paste your tenant guid here]" />
    <add key="AzureClientId" value="[paste your client guid here]" />
    <add key="AzureClientSecret" value="[paste your client secret here]" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Rest.ClientRuntime" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.0.0" newVersion="1.9.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Rest.ClientRuntime.Azure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.0.0" newVersion="2.6.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
