<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Suggested approach is to keep those secrets in the non-committed secrets.config next to app.config -->
  <appSettings file="..\..\secrets.config">
    <!-- See http://blog.davidebbo.com/2014/12/azure-service-principal.html to learn how to obtain these values -->
    <add key="AzureSubscription" value="[paste your subscription guid here]" />
    <add key="AzureTenantId" value="[paste your tenant guid here]" />
    <add key="AzureClientId" value="[paste your client guid here]" />
    <add key="AzureClientSecret" value="[paste your client secret here]" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>
